.eventsContainer {
  width: 100%;

  .eventViewChange {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
  }
  .ant-tabs {
    color: rgb(var(--primary-color));

    .ant-tabs-content-holder {
      border: 1px solid rgb(var(--primary-color));
      border-top: none;
    }

    &.gridView {
      .ant-tabs-tabpane.ant-tabs-tabpane-active {
        flex-flow: row wrap;
      }
    }

    .ant-tabs-tabpane.ant-tabs-tabpane-active {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    .ant-tabs-nav-list {
      width: 100%;
      justify-content: space-between;

      .ant-tabs-tab {
        width: 25%;
        padding: 8px 30px;
        justify-content: center;
        margin: 0;
        border-color: rgb(var(--primary-color));
        border-bottom: none;
        background: rgb(var(--secondary-color));
        color: rgb(var(--neutral-color));
        font-weight: 600;

        &.ant-tabs-tab-active > .ant-tabs-tab-btn {
          color: rgb(var(--primary-color));
          font-weight: 700;
        }

        &:not(:first-child) {
          border-left: none;
        }

        &:not(:nth-child(4)) {
          border-right: none;
        }
      }

      .ant-tabs-tab + .ant-tabs-tab {
        margin-left: 0;
      }
    }
  }
  .ant-tabs-nav {
    margin-bottom: 0;
  }

  .ant-tabs-tab.ant-tabs-tab-active {
    color: rgb(var(--primary-color));
  }
}
