.eventLinkContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  margin: 20px;
  border: 1px solid rgb(var(--primary-color));
  border-radius: 5px;

  &:hover {
    box-shadow: inset 0px 0px 14px 0px rgba(var(--primary-color), 1);
    border-color: rgba(var(--primary-color), 0.7);
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;

    p.scrollbox {
      text-align: justify;
      overflow: auto;

      background: linear-gradient(
          rgb(var(--secondary-color)) 30%,
          rgba(255, 255, 255, 0)
        ),
        linear-gradient(rgba(255, 255, 255, 0), rgb(var(--secondary-color)) 70%)
          0 100%,
        radial-gradient(
          farthest-side at 50% 0,
          rgba(var(--primary-color), 0.4),
          rgba(var(--primary-color), 0)
        ),
        radial-gradient(
            farthest-side at 50% 100%,
            rgba(var(--primary-color), 0.4),
            rgba(var(--primary-color), 0)
          )
          0 100%;
      background-repeat: no-repeat;
      background-size: 100% 40px, 100% 40px, 100% 20px, 100% 20px;
      background-attachment: local, local, scroll, scroll;
    }

    .eventDate {
      font-size: 12px;
      word-spacing: 2px;
      font-weight: 300;
    }
  }

  &.gridView {
    width: 45%;
    height: 350px;
    overflow: hidden;
  }
}
